@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ddd;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 65vw);
    height: 300px;
    padding: 20px;
    background: rgb(40, 38, 38);
    box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 30px rgba(0,0,0,0.1), 0 0 60px rgba(0,0,0,0.1), 0 0 90px rgba(0,0,0,0.1);
    color: #fff;
    border-radius: 5px;
}
.container #quote{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 20px;
    letter-spacing: 0.3px;
    opacity: 0.8;
    margin-bottom: 10px;
}
.container #author{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    letter-spacing: 0.5px;
    opacity: 0.5;
}
.container .btn{
    border: none;
    outline: none;
    padding: 8px 35px;
    border-radius: 20px 40px;
    font-size: 16px;
    background: linear-gradient(rgb(139, 172, 213),
     rgb(56, 155, 242));
    color: #eee;
    cursor: pointer;
    margin: 20px 0 10px;
    letter-spacing: 0.5px;
}
.container .btn:active{
    transform: scale(0.9);
    transition: 0.3s;
}
@media (max-width: 968px) {
    .container{
        width: calc(100vw - 30vw);
    }
}
@media (max-width: 500px) {
    .container{
        width: calc(100vw - 10vw);
    }
}